.tender__layout {
    background: none;
    .ant-layout-header {
        padding: 0 10px;
        background: none;
    }
    .home-header {
        background: url('./assets/img/header.png') no-repeat center center;
        background-size: cover;
        height: 60px;
        width: 100%;
    }
}

// * {
//     font-family: 'Roboto', 'Open Sans', sans-serif;
// }
